$color-main-headers: rgb(255, 255, 0);
$color-page-subheaders: rgb(41, 192, 252);
$color-page-mini-headers: rgb(252, 41, 206);

$color-links: rgb(17, 240, 66);
$color-inputs: rgb(30, 117, 230);
$color-lists: rgb(36, 241, 207);
$color-error: rgb(218, 40, 40);
$color-info: rgb(113, 192, 238);
$color-paragraph: rgb(189, 228, 145);

$color-footer: rgb(236, 133, 35);

$color-tabs-text: rgb(0, 0, 0);
$color-tabs-background: rgb(255, 255, 255);
$color-tabs-border: rgb(132, 159, 233);
$color-active-tabs-text: rgb(234, 250, 10);
$color-active-tabs-background: rgb(13, 160, 13);

$font-headers: Starjedi;
$font-links: MetalLord;
$font-usual-text: AbandonAlphabeta;
$font-tabs: AbandonAlphabeta;

$fa-font-path: "~font-awesome/fonts";
