$color-main-headers: rgb(255, 255, 0);
$color-page-subheaders: rgb(41, 192, 252);
$color-page-mini-headers: rgb(252, 41, 206);
$color-links: rgb(17, 240, 66);
$color-inputs: rgb(30, 117, 230);
$color-lists: rgb(36, 241, 207);
$color-error: rgb(218, 40, 40);
$color-info: rgb(113, 192, 238);

$font-headers: Starjedi;
$font-links: MetalLord;
$font-usual-text: AbandonAlphabeta;
