@import "variables";

.table {
  &-default {
    tr {
      border: 1rem solid transparent;
      * {
        vertical-align: middle;
      }
    }

    img {
      width: 15rem;
      height: 15rem;
    }

    a,
    p {
      font-size: 3rem;
    }

    p {
      font-size: 5rem;
      display: inline-block;
      color: $color-lists;
    }
  }

  &-repos {
    tr {
      border: 0;
      * {
        vertical-align: middle;
      }
    }

    th {
      border: 0.5rem solid $color-table-head-borders;
      background-color: $color-repos-table-head-background;
    }

    td {
      border: 0.5rem solid $color-table-body-borders;
      background-color: $color-repos-table-body-background;
    }

    td,
    th {
      &.big-data {
        min-width: 50rem;
        max-width: 50rem;
      }

      &.medium-data {
        min-width: 28rem;
        max-width: 28rem;
      }

      &.small-data {
        min-width: 12rem;
        max-width: 12rem;
      }

      * {
        font-size: 2.5rem;
        display: inline-block;
        color: $color-lists;
      }
    }

    th {
      color: $color-table-headers;
      font-size: 5rem;
    }
  }
}
