$color-table-headers: rgb(152, 226, 67);
$color-table-head-borders: rgb(221, 236, 11);
$color-table-body-borders: rgb(13, 175, 67);
$color-repos-table-head-background: rgba(81, 6, 100, 0.5);
$color-repos-table-body-background: rgba(37, 22, 243, 0.5);

$select-font-size: 3rem;
$select-info-color: rgb(12, 250, 238);
