<article siv-infinite-scroll siv-infinite-scroll-callback="loadFollowing()" siv-infinite-scroll-bottom-distance="1000" class="user-info-container">
    <h4>Following list</h4>
    <p class="important-info">Count: {{userData.following}}</p>
    <table class="table-default center">
        <tbody>
            <tr ng-repeat="user in userData.followingList" siv-repeat-end="anchorScroll()">
                <td>
                    <p class="text" ng-bind="::user.login"></p>
                </td>
                <td>
                    <img ng-src="{{::user.avatar_url}}">
                </td>
                <td>
                    <a ng-href="{{::user.html_url}}" target="_blank">Profile link</a>
                </td>
            </tr>
        </tbody>
    </table>
    <!--<ul uib-pagination total-items="userData.following" ng-model="userData.followingPage" items-per-page="pagination.itemsPerPage"
        ng-change="pageChanged()" class="pagination-sm" max-size="pagination.pagesLimit" boundary-links="true" force-ellipses="true"></ul>-->
</article>
