<h2>on this page you can search and filter repositories</h2>
<section>
    <input ng-model="repoQuery" type="text" placeholder="enter any github login">
    <input ng-click="getRepositoriesInfo()" type="button" value="SEARCH">
</section>
<section ng-if="">
    <table class="items-list">
        <tbody>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Language</th>
                <th>Stars</th>
            </tr>
            <tr ng-repeat="follower in userData.followersList">
                <td>
                    <p class="text" ng-bind="follower.login"></p>
                </td>
                <td>
                    <img ng-src="{{follower.avatar_url}}">
                </td>
                <td>
                    <a ng-href="{{follower.html_url}}" target="_blank">Profile link</a>
                </td>
            </tr>
        </tbody>
    </table>
</section>
