<p ng-bind="userData.message" class="error-message"></p>
<div ng-if="userData.login">
    <h3>username: {{userData.name}}</h3>
    <img ng-src="{{userData.avatar_url}}">
    <uib-tabset type="pills" justified="true" active="activeTab">
        <uib-tab heading="Followers" index="0" select="tabChanged(0)">
            <article class="user-info-container">
                <p class="important-info">Count: {{userData.followers}}</p>
                <h4>List of followers</h4>
                <table class="items-list">
                    <tbody>
                        <tr ng-repeat="follower in userData.followersList">
                            <td>
                                <p class="text" ng-bind="follower.login"></p>
                            </td>
                            <td>
                                <img ng-src="{{follower.avatar_url}}">
                            </td>
                            <td>
                                <a ng-href="{{follower.html_url}}" target="_blank">Profile link</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ul uib-pagination total-items="userData.followers" ng-model="userData.followersPage" items-per-page="pagination.itemsPerPage"
                    ng-change="loadFollowers()" class="pagination-sm" max-size="pagination.pagesLimit" boundary-links="true"
                    force-ellipses="true"></ul>
            </article>
        </uib-tab>
        <uib-tab heading="Following" index="1" select="tabChanged(1)">
            <article class="user-info-container">
                <p class="important-info">Count: {{userData.following}}</p>
                <h4>Following list</h4>
                <table class="items-list">
                    <tbody>
                        <tr ng-repeat="user in userData.followingList">
                            <td>
                                <p class="text" ng-bind="user.login"></p>
                            </td>
                            <td>
                                <img ng-src="{{user.avatar_url}}">
                            </td>
                            <td>
                                <a ng-href="{{user.html_url}}" target="_blank">Profile link</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ul uib-pagination total-items="userData.following" ng-model="userData.followingPage" items-per-page="pagination.itemsPerPage"
                    ng-change="loadFollowing()" class="pagination-sm" max-size="pagination.pagesLimit" boundary-links="true"
                    force-ellipses="true"></ul>
            </article>
        </uib-tab>
        <uib-tab heading="Repositories" index="2" select="tabChanged(2)">
            <article class="user-info-container">
                <p class="important-info">Count: {{userData.public_repos}}</p>
                <p class="important-info">Stars: {{userData.starredReposCount}}</p>
                <h4>Repositories</h4>
                <table class="items-list">
                    <tbody>
                        <tr ng-repeat="repository in userData.repositoriesList">
                            <td>
                                <a ng-href="{{repository.html_url}}" target="_blank">{{repository.name}}</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ul uib-pagination total-items="userData.public_repos" ng-model="userData.repositoriesPage" items-per-page="pagination.itemsPerPage"
                    ng-change="loadRepositories()" class="pagination-sm" max-size="pagination.pagesLimit" boundary-links="true"
                    force-ellipses="true"></ul>
            </article>
        </uib-tab>
    </uib-tabset>
</div>
