<div>
    <h2>on this page you can get public info about any github user</h2>
    <section>
        <input ng-model="login" type="text" placeholder="enter any github login">
        <input ng-click="getUserInfo()" type="button" value="SEARCH">
        <p ng-bind="errorMessage" class="error-message"></p>
    </section>
    <section ng-class="{'hidden':isUserFound()}">
        <h3>username: {{username}}</h3>
        <img ng-src="{{avatarUrl}}">
        <article class="user-info-container">
            <h3>user followers</h3>
            <p class="important-info">Count: {{followersCount}}</p>
            <h4>List of followers (only first 30)</h4>
            <ul class="users-list">
                <li ng-repeat="follower in followers">
                    <p class="text" ng-bind="follower.login"></p>
                    <img ng-src="{{follower.avatar_url}}">
                    <a ng-href="{{follower.html_url}}">Profile link</a>
                </li>
            </ul>
        </article>
        <article class="user-info-container">
            <h3>user following</h3>
            <p class="important-info">Count: {{followingCount}}</p>
            <h4>Following list (only first 30)</h4>
            <ul class="users-list">
                <li ng-repeat="user in followingList">
                    <p class="text" ng-bind="user.login"></p>
                    <img ng-src="{{user.avatar_url}}">
                    <a ng-href="{{user.html_url}}">Profile link</a>
                </li>
            </ul>
        </article>
        <article class="user-info-container">
            <h3>repositories</h3>
            <p class="important-info">Count: {{repositoriesCount}}</p>
            <p class="important-info">Stars: {{starredReposCount}}</p>
            <h4>Repositories (only first 30)</h4>
        </article>
    </section>
    <!-- <a  href="https://github.com/login/oauth/authorize?client_id={{client_id}}">try OAuth</a> -->
</div>

<user id="412412421"></user>
