<div>
    <h2>on this page you can get public info about any github user</h2>
    <section>
        <input ng-model="login" type="text" placeholder="enter any github login">
        <input ng-click="getUserInfo()" type="button" value="SEARCH">
        <p ng-bind="errorMessage" class="error-message"></p>
    </section>
    <section ng-if="userData.login">
        <h3>username: {{userData.name}}</h3>
        <img ng-src="{{userData.avatar_url}}">
        <article class="user-info-container">
            <h3>user followers</h3>
            <p class="important-info">Count: {{userData.followers}}</p>
            <h4>List of followers (only first 30)</h4>
            <table class="items-list">
                <tbody>
                    <tr ng-repeat="follower in userData.followersList">
                        <td>
                            <p class="text" ng-bind="follower.login"></p>
                        </td>
                        <td>
                            <img ng-src="{{follower.avatar_url}}">
                        </td>
                        <td>
                            <a ng-href="{{follower.html_url}}" target="_blank">Profile link</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </article>
        <article class="user-info-container">
            <h3>user following</h3>
            <p class="important-info">Count: {{userData.following}}</p>
            <h4>Following list (only first 30)</h4>
            <table class="items-list">
                <tbody>
                    <tr ng-repeat="user in userData.followingList">
                        <td>
                            <p class="text" ng-bind="user.login"></p>
                        </td>
                        <td>
                            <img ng-src="{{user.avatar_url}}">
                        </td>
                        <td>
                            <a ng-href="{{user.html_url}}" target="_blank">Profile link</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </article>
        <article class="user-info-container">
            <h3>repositories</h3>
            <p class="important-info">Count: {{userData.public_repos}}</p>
            <p class="important-info">Stars: {{userData.starredReposCount}}</p>
            <h4>Repositories (only first 30)</h4>
            <table class="items-list">
                <tbody>
                    <tr ng-repeat="repository in userData.repositoriesList">
                        <td>
                            <a ng-href="{{repository.html_url}}" target="_blank">{{repository.name}}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </article>
    </section>
    <!-- <a  href="https://github.com/login/oauth/authorize?client_id={{client_id}}">try OAuth</a> -->
</div>

<user id="412412421"></user>
