<p ng-bind="errorMessage" class="error-message"></p>
<div ng-if="repositoriesData">
    <h4>list of found repositories</h4>
    <p class="important-info">Count: {{repositoriesData.total_count}}</p>
    <table class="table-repos center">
        <tbody>
            <tr>
                <th>Name</th>
                <th class="description">Description</th>
                <th>Language</th>
                <th>Stars</th>
            </tr>
            <tr ng-repeat="repository in repositoriesData.items">
                <td>
                    <p class="text" ng-bind="::repository.name"></p>
                </td>
                <td class="description">
                    <p class="text" ng-bind="::repository.description"></p>
                </td>
                <td>
                    <p class="text" ng-bind="::repository.language"></p>
                </td>
                <td>
                    <p class="text" ng-bind="::repository.stargazers_count"></p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
